{% extends "base.html" %}
{% block content %}
	<h1>Login to continue</h1>
	
	<form method="POST" action="{{ url_for('player.login') }}">
		{{ form.hidden_tag() }}
		<div class="form-field">
			{{ form.email.label }}
			{{ form.email() }}
		</div>
		<div class="form-field">
			{{ form.password.label }}
			{{ form.password() }}
		</div>
		<div class="form-field">
			{{ form.remember_me() }} {{ form.remember_me.label }}
		</div>
		<input class="btn btn-primary" type="submit" value="Login"> or <a href="{{ url_for('player.new_player') }}">create account</a>
	</form>
{% endblock %}