@import (less) "_imports/normalize.css";
@import (less) "_imports/phg-ashes.css";
@import (less) "_imports/open-sans.css";
@import "_imports/mixins";
@import "_imports/flexbox";

@fa-font-path: "../fonts";
@import "_imports/font-awesome/font-awesome";

@color-black: #000;
@color-gray: #dcdcdc;
@color-mid-gray: #bfbfbf;
@color-border-gray: #939395;
@color-dark-gray: #6f6f6f;
@color-white: #fff;
@color-inexhaustible: #f7f5e8;
@color-inexhaustible-dark: #8d7b53;
@color-link: #2770c1;
@color-error: #b00000;
@color-success: #006600;
@color-attack: #b25864;
@color-life: #5e8664;
@color-recover: #6178a2;

html {
	font-family: "Open Sans", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
	margin-top: 0;
}

h1 {
	.font-size(24);
	margin-bottom: 30px;
	
	&[class^="phg-"]:before, &[class*=" phg-"]:before {
		.font-size(36);
		vertical-align: middle;
		margin-right: 10px;
	}
}

h2 {
	font-weight: normal;
}

h3 {
	.font-size(18);
}

p, ul, ol {
	.line-height(24);
}

hr {
	margin: 0 0 20px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
	color: @color-link;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

a.disabled {
	opacity: .4;
	pointer-events: none;
	cursor: text;
}

a.card {
	color: @color-black;
	font-weight: bold;
}

.callout {
	font-size: 112.5%; // 16px => 18px
}

.muted {
	color: @color-gray;
}

.username {
	border: 1px solid @color-mid-gray;
	background: fadeout(@color-mid-gray, 80%);
	border-radius: 5px;
	font-weight: bold;
	padding: 0 3px;
}

.badge {
	color: @color-mid-gray;
	font-weight: normal;
	
	&:before {
		content: '#';
	}
}

.costs {
	.cost {
		padding-right: 10px;
		margin-right: 3px;
		background: url('../images/icon-diamond-bullet.png') no-repeat right center;
	}

	.cost:last-of-type {
		padding: 0;
		margin: 0;
		background: none;
	}
}

.divider {
	background: url('../images/icon-diamond-bullet.png') no-repeat center center;
	display: inline-block;
	height: 7px;
	width: 7px;
	vertical-align: middle;
}

.alerts {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		.alert(@color-dark-gray);
		border-radius: 5px;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 10px;
	}

	.success {
		.alert(@color-success);
	}

	.error {
		.alert(@color-error);
	}

	#page > & {
		margin-bottom: 30px;
	}
}

.form-field {
	margin: 0 0 20px;
	max-width: 320px;
	
	label, .label {
		display: block;
		margin: 0 0 5px;
	}
	
	input[type="checkbox"] + label, input[type="radio"] + label {
		display: inline;
	}
	
	input[type="text"], input[type="password"], input[type="number"] {
		.font-size(18);
		.placeholder-color(@color-mid-gray);
		border: 2px solid @color-gray;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 0;
		padding: 5px;
		width: 100%;
		
		&[readonly], &[disabled] {
			.placeholder-color(@color-gray);
			color: @color-mid-gray;
			background: fadeout(@color-gray, 80%);
		}
	}

	.alerts li {
		margin: 10px 0 0;
	}
}

.btn {
	.font-size(18);
	.alert(@color-dark-gray);
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	
	&:focus {
		outline: none;
	}
	
	&.btn-primary {
		.alert(@color-link);
	}
	
	&.btn-small {
		.font-size(14);
		font-weight: normal;
		padding: 5px 10px;
	}
	
	&[readonly], &[disabled] {
		opacity: .4;
	}
	
	&.active {
		background: @color-dark-gray;
		color: @color-white;
	}
}

.dice-classes();

.input-group {
	.mixin-display-flex;
	margin: 0 0 20px;
	
	.form-field {
		height: 100%;
		margin: 0;
		
		&:first-child {
			.mixin-flex(1 1 auto);
			
			input[type="text"], input[type="password"], input[type="number"] {
				border-radius: 5px 0 0 5px;
				border-right-width: 0;
				margin: 0;
			}
		}
	}
	
	.btn {
		height: 100%;
		padding: 5px 10px;
		
		&:last-child {
			.mixin-flex(0 0 auto);
			border-radius: 0 5px 5px 0;
		}
	}
}

.btn-group {
	margin: 0 0 20px;
	
	.btn {
		padding: 5px 10px;
		vertical-align: top;
	}
	
	.btn[class^="phg-"], .btn[class*=" phg-"] {
		.font-size(24);
		padding: 2px 10px 1px;
	}
	
	.btn:first-child {
		border-radius: 5px 0 0 5px;
		border-right-width: 1px;
	}
	
	.btn + .btn {
		border-radius: 0;
		border-left-width: 1px;
		border-right-width: 1px;
	}
	
	.btn + .btn:last-child {
		border-radius: 0 5px 5px 0;
		border-right-width: 2px;
	}
}

.responsive-cols {
	.mixin-display-flex;
	.mixin-flex-wrap(wrap);
	.mixin-justify-content(space-between);

	.col {
		.mixin-flex(0 0 auto);
		margin-right: 10px;
	}

	.col-flex {
		.mixin-flex(1 1 auto);
		margin-right: 10px;
	}

	.col:last-child, .col-flex:last-child {
		margin-right: 0;
	}
}

.card-effects {
	.font-size(12);
	.line-height(15);
	list-style-type: none;
	padding: 0;
	margin: 0;

	[class^="phg-"], [class*=" phg-"] {
		.font-size(15);
	}

	li {
		padding-bottom: 5px;
	}
}

.inexhaustible {
	background: @color-inexhaustible;
	border: 1px solid @color-inexhaustible-dark;
	padding: 5px;
	position: relative;

	& + li {
		margin-top: 5px;
	}

	& + .inexhaustible {
		border-top: none;
		margin-top: 0;
		top: -6px;
		margin-bottom: -6px;
	}

	&:last-of-type {
		margin-bottom: 5px;
	}
}

li + .inexhaustible:before, .inexhaustible:first-of-type:before {
	content: '';
	background: url('../images/icon-inexhaustible.png') no-repeat left top;
	width: 11px;
	height: 11px;
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -6px;
}

.inexhaustible + .inexhaustible:before {
	background: none;
	width: 0;
	height: 0;
}

.dice {
	.mixin-display-flex;
	.mixin-flex-wrap(wrap);
	.mixin-justify-content(space-between);
	list-style-type: none;
	margin: 0;
	padding: 0;

	.die {
		.font-size(16);
		.line-height(24);
		.mixin-flex(0 0 auto);
		border-radius: 3px;
		margin: 0 0 10px;
		height: 24px;
		width: 24px;
		text-align: center;
	}

	.basic {
		color: @color-mid-gray;
		background: @color-gray;
	}
}

/* @group Main content */

#page, #footer {
	.max-width();
	padding: 20px;
}

#main {
	.mixin-display-flex;

	.phg-basic-magic:before {
		position: relative;
		top: -1px;
	}
}

#content {
	.mixin-flex(2);
	.mixin-order(1);
	padding-right: 50px;
}

#sidebar {
	.mixin-flex(1);
	.mixin-order(2);
}

#footer {
	.font-size(12);
	padding-top: 50px;
	text-align: center;
}

/* @end */

/* @group Header */

#header {
	p, ul, ol {
		line-height: 1;
	}

	ul {
		.mixin-display-flex;
		.mixin-justify-content(center);
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	a {
		.font-size(18);
		color: @color-black;
		text-decoration: none;
	}
	
	a:hover, a:active {
		color: @color-link;

		&.disabled {
			color: @color-black;
		}
	}
	
	.navbar-wrapper {
		background: @color-inexhaustible;
		padding: 0 0 4px;
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 0;
			width: 100%;
			border-top: 1px solid @color-white;
			border-bottom: 3px solid @color-gray;
		}
	}
	
	.primary-nav {
		.max-width();
		padding: 10px 20px;
		
		a:before {
			.font-size(29);
			margin-right: 10px;
			vertical-align: bottom;
		}
	}
	
	.secondary-nav {
		.max-width();
		padding: 10px 20px;
		
		li {
			.mixin-flex(0 1 auto);
			margin-right: 20px;
		}
		
		li:last-of-type {
			margin-right: 0px;
		}
		
		.mid-link {
			.mixin-flex(1 1 auto);
		}
	}
	
	.deckbuilder-link {
		.mixin-order(1);
		.mixin-flex(1 1 auto);
		padding-right: 20px;
	}
	
	.home-link {
		.mixin-order(2);
		.mixin-flex(0 1 auto);
		
		a {
			background: url(../images/ashes-live-small.png) left top no-repeat;
			display: inline-block;
			height: 0px;
			width: 266px;
			padding-top: 30px;
			overflow: hidden;
		}
	}
	
	.logging-link {
		.mixin-order(3);
		.mixin-flex(1 1 auto);
		padding-left: 20px;
		text-align: right;
	}
}

.homepage #header {
	.primary-nav {
		padding-top: 27px;
		
		a {
			display: inline-block;
			padding-top: 6px;
		}
		
		a:before {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
	
	.secondary-nav {
		padding-top: 20px;
	}
	
	.deckbuilder-link {
		padding-right: 50px;
		text-align: right;
	}
	
	.home-link {
		margin-bottom: -40px;
		position: relative;
		z-index: 10;
		
		a {
			background-image: url(../images/ashes-live.png);
			width: 366px;
			padding-top: 107px;
		}
	}
	
	.logging-link {
		padding-left: 50px;
		text-align: left;
	}
	
	.fa {
		margin-right: 5px;
	}
}

/* @end */

/* @group User styling */

.badge-field {
	margin-bottom: 20px;
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	li {
		display: inline-block;
		box-sizing: border-box;
		padding: 0 10px 0 0;
		margin: 0 0 10px;
		min-width: 30%;
	}
	
	label {
		.alert(@color-mid-gray);
		border-radius: 5px;
		padding: 0 3px;
	}
	
	input:checked + label {
		.alert(@color-link);
	}
}

/* @end */

/* @group Deckbuilder */

#editor-meta {
	.mixin-flex(1);
	.mixin-order(1);
	padding-right: 50px;
}

#editor-gallery {
	.mixin-flex(2);
	.mixin-order(2);
}

.phoenixborn-picker {
	.listing {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			float: left;

			&.no-results {
				float: none;
			}
		}
		
		img {
			cursor: pointer;
			height: 310px;
		}
	}
}

.phoenixborn-header {
	text-align: center;

	.refresh-btn {
		float: left;
	}
}

.phoenixborn-detail {
	border: 1px solid @color-border-gray;
	border-radius: 5px;
	position: relative;
	padding: 17px 10px 10px;
	margin: 0 0 20px;

	.statline {
		.font-size(12);
		.line-height(15);
		font-weight: bold;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: -10px;
		left: 0;
		right: 0;
		text-align: center;

		li {
			display: inline-block;
			background: @color-white;
			border: 1px solid;
			padding: 1px 3px 0;
			margin: 0;
		}

		.battlefield {
			border-color: @color-attack;
		}

		.life {
			border-color: @color-life;
		}

		.spellboard {
			border-color: @color-recover;
		}
	}
}

.dice-management {
	.col {
		margin: 0 0 10px;
	}

	input[type="number"] {
		width: 50px;
	}

	.btn-die {
		min-width: 46px;
	}
}

.dice-controls {
	margin-bottom: 20px;
}

.deck-section {
	h4 {
		margin-bottom: 5px;
	}

	ul {
		.font-size(14);
		list-style-type: none;
		padding: 0;
		margin: 0 0 20px;
	}

	li {
		margin-bottom: 3px;
	}
	
	.btn-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;

		.btn {
			padding: 0px 5px;
		}
	}

	.phoenixborn {
		color: @color-mid-gray;
	}
}

.gallery {
	.btn-group {
		.btn-qty {
			background: rgba(255, 255, 255, .6);
			border: none;
			border-top: 1px solid rgba(0, 0, 0, .6);
			border-right: 1px solid rgba(0, 0, 0, .6);
			border-radius: 0;
			color: @color-black;
			font-weight: normal;
			padding: 2px 2px 1px;
			text-align: center;
			width: 24px;
	
			&.active {
				background: rgba(0, 0, 0, .6);
				color: @color-white;
			}
		}
	
		.btn-qty:first-child {
			border-radius: 0;
			width: 23px;
		}
	
		.btn-qty + .btn-qty:last-child {
			border-radius: 0;
			border-right: none;
		}
	}

	.filters .btn-all {
		min-width: 64px;
	}

	.main-filters, .listing-controls {
		> .form-field, .btn-group, .input-group {
			margin-bottom: 10px;
		}
	}

	.secondary-filters .btn-group {
		margin-bottom: 20px;
	}

	.listing {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.card-detail {
		.mixin-display-flex;
		border: 1px solid @color-border-gray;
		margin: 0 0 5px;
	
		& > .costs {
			.line-height(22);
			.mixin-flex(0 0 auto);
			list-style-type: none;
			padding: 6px 8px 0 0;
			margin: 0;
			text-align: right;
			
			[class^="phg-"], [class*=" phg-"] {
				display: inline-block;
				min-width: 20px;
				text-align: center;
			}

			.phg-basic-magic:before {
				top: -2px;
			}

			.cost {
				padding: 0;
				margin: 0;
				background: none;
			}
		}
	}

	.thumbnail {
		.mixin-flex(0 0 auto);
		position: relative;
		top: -1px;
		left: -1px;
		width: 95px;
		height: 115px;
		margin-bottom: -2px;

		.btn-group {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}

	.details {
		.mixin-flex(1 1 auto);
		padding: 10px 10px 5px;
		position: relative;

		&.with-statline {
			padding-bottom: 16px;
		}

		h3 {
			.line-height(18);
			margin-bottom: 6px;
		}

		.phoenixborn {
			color: @color-mid-gray;
		}

		.meta {
			.font-size(12);
			.line-height(12);
			margin-bottom: 8px;
		}
	}

	.summon-effect .costs {
		margin-bottom: 3px;
	}

	.conjuration {
		.mixin-display-flex;
		border-radius: 3px;
		border: 1px solid @color-border-gray;
		padding: 3px;

		h4 {
			.font-size(16);
			.line-height(16);
			.mixin-flex(0 0 auto);
			margin: 0;
		}

		.effect {
			.mixin-flex(0 0 auto);
			.line-height(16);
			padding-top: 1px;
			padding-left: 10px;
			margin-left: 3px;
			background: url('../images/icon-diamond-bullet.png') no-repeat left center;
		}

		.statline {
			.mixin-flex(1 1 auto);
			position: static;
			top: auto;
			left: auto;
			text-align: right;

			li {
				display: inline-block;
				float: none;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				padding-bottom: 1px;
				margin: 0 0 0 5px;
			}
		}
	}

	.statline {
		.font-size(12);
		.line-height(15);
		font-weight: bold;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 10px;

		li {
			float: left;
			border: 1px solid;
			border-bottom: none;
			padding: 1px 3px 0;
			margin-right: 5px;
		}

		.attack {
			border-color: @color-attack;
		}

		.life {
			border-color: @color-life;
		}

		.recover {
			border-color: @color-recover;
		}
	}
}

.no-results {
	background: @color-inexhaustible;
	border: 1px solid @color-gray;
	padding: 40px 20px 20px;
	text-align: center;
}

/* @end */
