{% extends "base.html" %}
{% block title %}Build Deck{% endblock %}
{% block page_class %}deckbuilder{% endblock %}

{% set suppress_subscription_link = true %}

{% block heading %}
	<h1 class="phg-ceremonial-class">Build your deck</h1>
{% endblock %}

{% block content %}
	<noscript>
		<ul class="alerts">
			<li class="error">The Ashes.live deckbuilder requires Javascript.</li>
		</ul>
	</noscript>
{% endblock %}

{% block app %}
	<script type="text/javascript">
		globals.releaseList = {{ release_list_json | safe }}
		{% if deck_json %}
			globals.deck = {{ deck_json | safe }}
		{% endif %}
		{% if user_release_ids_json %}
			globals.userCollection = {{ user_release_ids_json | safe }}
		{% endif %}
	</script>
	<script src="{{ url_for('static', filename='js/app.js') | production_url }}" type="text/javascript"></script>
{% endblock %}
