{% extends "base.html" %}
{% block title %}Build Deck{% endblock %}
{% block page_class %}deckbuilder{% endblock %}

{% block heading %}
	<h1 class="phg-ceremonial-class">Build your deck</h1>
{% endblock %}

{% block content %}
	<noscript>
		<ul class="alerts">
			<li class="error">The Ashes.live deckbuilder requires Javascript.</li>
		</ul>
	</noscript>
{% endblock %}

{% block app %}
	{% if deck_json %}
	<script type="text/javascript">
		globals.deck = {{ deck_json | safe }}
	</script>
	{% endif %}
	<script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
{% endblock %}
