{% from "macros.html" import pagination, usertag %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}{{ 'History - Deck: ' + deck.title | paged_title(page) }}{% endblock %}

{% block heading %}
	<h1 class="phg-side-action">History for <em>{{ deck.title }}</em></h1>
{% endblock %}

{% block content %}
	{% if snapshots %}
	<ul class="deck-list snapshots">
	{% for snapshot in snapshots %}
		<li class="deck {{ snapshot.phoenixborn.stub }}{% if snapshot.is_public %} public{% endif %}">
			{% if published_deck and published_deck.id == snapshot.id %}
			{{ deck_details(snapshot, card_map, current_user, link_id=snapshot.source_id) }}
			{% else %}
			{{ deck_details(snapshot, card_map, current_user) }}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('decks.history', pages, page=page, deck_id=deck.id) }}
	{% else %}
	<p class="callout">This deck has no snapshots yet.</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<table class="meta" cellspacing="0" cellpadding="0">
		{% if current_user.is_authenticated and deck.user_id == current_user.id %}
		{% if deck.is_snapshot %}
		<tr>
			<th>Source deck:</th>
			<td>
				<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
					{{ deck.source | deck_title }}
				</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<th>Deck:</th>
			<td>
				<a href="{{ url_for('decks.view', deck_id=deck.id) }}">
					{{ deck | deck_title }}
				</a>
			</td>
		</tr>
		{% endif %}
		{% endif %}
		<tr>
			<th>Author:</th>
			<td>{{ usertag(deck.user) }}</td>
		</tr>
		<tr>
			<th>Updated:</th>
			<td>{{ deck.modified | format_date }}</td>
		</tr>
	</table>

	{% if current_user.is_authenticated and deck.user_id == current_user.id %}
	<a class="btn btn-block btn-success"
		href="{{ url_for('decks.build', deck_id=deck.source_id if deck.is_snapshot else deck.id) }}">
		<i class="fa fa-pencil"></i> Edit Source Deck
	</a>
	{% endif %}
{% endblock %}
