{% from "macros.html" import pagination %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}Public Decks{% endblock %}

{% block heading %}
	<h1 class="phg-main-action">Public decks</h1>
{% endblock %}

{% block content %}
	{% if decks %}
	<ul class="deck-list">
	{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user, history_view=0) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination(pages) }}
	{% else %}
	<p class="callout">There are no public decks. How could this be?! Quick, go share <a href="{{ url_for('decks.mine') }}">one of yours</a>!</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<p class="muted">Filters coming soon!</p>
{% endblock %}
