{% from "macros.html" import pagination %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}{{ 'Public Decks' | paged_title(page) }}{% endblock %}
{% block page_class %}sidebar-first deck-listing{% endblock %}

{% block heading %}
	<h1 class="phg-main-action">Public decks</h1>
{% endblock %}

{% block content %}
	{% if decks %}
	<ul class="deck-list">
	{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user, history_view=0) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('decks.index', pages, page=page) }}
	{% else %}
	<p class="callout">There are no public decks. How could this be?! Quick, go share <a href="{{ url_for('decks.mine') }}">one of yours</a>!</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<p class="muted">Filters coming soon!</p>

	{% if precon_decks %}
	<hr>

	<h2>Preconstructed Decks</h2>

	<ul>
		{% for deck in precon_decks %}
		{% if not loop.last and (loop.index > 6 and loop.index % 2) %}</ul><hr><ul>{% endif %}
		<li>
			<span class="phoenixborn" title="{{ deck.phoenixborn.name }}">{{ deck.phoenixborn.name | first_name }}</span>: 
			<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
				{{ deck.title }}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}
