{% macro deck_details(deck, card_map, current_user, history_view=1, link_id=0) -%}
	{% from "macros.html" import usertag %}
	<div class="responsive-cols no-wrap">
		<h2 class="col-flex">
			{% if deck.is_snapshot and current_user.is_authenticated and deck.user_id == current_user.id and history_view %}
			{% if deck.is_public %}<i class="fa fa-eye visibility-icon" title="Public snapshot"></i>{% else %}<i class="fa fa-eye-slash visibility-icon" title="Private snapshot"></i>{% endif %}
			{% endif %}
			{% if current_user.is_authenticated and deck.user_id == current_user.id and not deck.is_snapshot %}
			<a href="{{ url_for('decks.build', deck_id=deck.id) }}">{{ deck | deck_title }}</a>
			{% elif link_id %}
			<a href="{{ url_for('decks.view', deck_id=link_id) }}">{{ deck | deck_title }}</a>
			{% elif deck.is_snapshot and not history_view %}
			<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">{{ deck | deck_title }}</a>
			{% else %}
			<a href="{{ url_for('decks.view', deck_id=deck.id) }}">{{ deck | deck_title }}</a>
			{% endif %}
		</h2>

		<ul class="dice col">
		{% set current = {'count': 0} -%}
		{% for dice in deck.dice -%}
			{# Setting a variable in a loop doesn't respect context, so we need to use this hack #}
			{% if current.update({'count': current.count + dice.count}) %}{% endif -%}
			{% for x in range(dice.count) %}
			<li class="die {{ dice.die_flag | die_name }}">
				<span class="phg-{{ dice.die_flag | die_name }}-power" title="{{ dice.die_flag | die_name | capitalize }}"></span>
			</li>
			{% endfor %}
		{% endfor %}
		{% if current.count is lessthan 10 -%}
		{% for x in range(10 - current.count) %}
			<li class="die basic"><span class="phg-basic-magic"></span></li>
		{% endfor %}
		{% endif %}
		</ul>
	</div>
	{% if not current_user.is_authenticated or deck.user_id != current_user.id -%}
	<ul class="meta">
		<li>{{ usertag(deck.user) }}</li
		><li>{{ deck.modified | format_date }}</li>
	</ul>
	{% endif -%}
	<hr>
	<div class="card-listing">
		<h3>
			<a href="{{ url_for('cards.detail', stub=deck.phoenixborn.stub) }}" class="card" target="_blank">
				{{ deck.phoenixborn.name }}
			</a>
			<span class="card-count float-right">{{ deck.cards | sum(attribute='count') }} / 30</span>
		</h3>
	{% if card_map[deck.id] %}
		{% for section in card_map[deck.id] %}
		<div class="card-type">
			<h4>{{ section.heading }} <span class="card-count">({{ section.count }})</span></h4>
			<ul>
			{% for card in section.cards %}
				<li>
					{{ card.count }}&times; <a href="{{ url_for('cards.detail', stub=card.stub) }}" class="card" target="_blank">
						{{ card.name }}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{%- endmacro %}
