{% macro dice_list(dice, classes="") -%}
	<ul class="dice {{ classes }}">
	{% set current = {'count': 0} -%}
	{% for die in dice -%}
		{# Setting a variable in a loop doesn't respect context, so we need to use this hack #}
		{% if current.update({'count': current.count + die.count}) %}{% endif -%}
		{% for x in range(die.count) %}
		<li class="die {{ die.die_flag | die_name }}">
			<span class="phg-{{ die.die_flag | die_name }}-power" title="{{ die.die_flag | die_name | capitalize }}"></span>
		</li>
		{% endfor %}
	{% endfor %}
	{% if current.count is lessthan 10 -%}
	{% for x in range(10 - current.count) %}
		<li class="die basic"><span class="phg-basic-magic"></span></li>
	{% endfor %}
	{% endif %}
	</ul>
{%- endmacro %}

{% macro deck_details(deck, card_map, current_user, history_view=1, link_id=0, latest_ashes_500=0) -%}
	{% from "macros.html" import usertag %}
	<div class="responsive-cols no-wrap">
		<h2 class="col-flex">
			{% if deck.is_snapshot and current_user.is_authenticated and deck.user_id == current_user.id and history_view %}
			{% if deck.is_public %}<i class="fa fa-eye deck-type-icon" title="Public snapshot"></i>{% else %}<i class="fa fa-eye-slash deck-type-icon" title="Private snapshot"></i>{% endif %}
			{% endif %}
			{% if deck.ashes_500_revision_id %}<i class="fa fa-tachometer deck-type-icon" title="Ashes 500"></i>{% endif %}
			{% if current_user.is_authenticated and deck.user_id == current_user.id and not deck.is_snapshot %}
			<a href="{{ url_for('decks.build', deck_id=deck.id) }}">{{ deck | deck_title }}</a>
			{% elif link_id %}
			<a href="{{ url_for('decks.view', deck_id=link_id) }}">{{ deck | deck_title }}</a>
			{% elif deck.is_snapshot and not history_view %}
			<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">{{ deck | deck_title }}</a>
			{% else %}
			<a href="{{ url_for('decks.view', deck_id=deck.id) }}">{{ deck | deck_title }}</a>
			{% endif %}
		</h2>

		{{ dice_list(deck.dice, classes="col") }}
	</div>
	<ul class="meta">
		<li>{{ usertag(deck.user) }}</li
		><li>{{ deck.modified | format_date }}</li>
	</ul>
	<hr>
	<div class="card-listing">
		<h3>
			<a href="{{ url_for('cards.detail', stub=deck.phoenixborn.stub) }}" class="card{% if deck.phoenixborn.release.is_retiring %} is-retiring{% endif %}{% if deck.phoenixborn.release.is_phg is sameas false %} fan-made{% endif %}" target="_blank">
				{{ deck.phoenixborn.name }}
			</a>
			{% if current_user.is_authenticated and deck.user_id == current_user.id and not deck.is_snapshot %}
			<a href="{{ url_for('decks.view_saved', deck_id=deck.id) }}" class="view-link" title="View details"><i class="fa fa-expand"></i></a>
			{% endif %}
			<span class="card-count float-right">{{ deck.cards | sum(attribute='count') }} / 30</span>
			{% if deck.ashes_500_revision_id %}
			<span class="ashes-500-score float-right{% if deck.ashes_500_score > 500 %} error{% elif deck.ashes_500_revision_id != latest_ashes_500 %} warning{% endif %}">
				<i class="fa fa-{% if deck.ashes_500_revision_id == latest_ashes_500 %}tachometer{% else %}exclamation-triangle{% endif %}" aria-hidden="true"></i>
				{{ deck.ashes_500_score }}
			</span>
			{% endif %}
		</h3>
	{% if card_map[deck.id] %}
		{% for section in card_map[deck.id] %}
		<div class="card-type">
			<h4>{{ section.heading }} <span class="card-count">({{ section.count }})</span></h4>
			<ul>
			{% for card in section.cards %}
				<li>
					{{ card.count }}&times; <a href="{{ url_for('cards.detail', stub=card.stub) }}" class="card{% if card.release.is_retiring %} is-retiring{% endif %}{% if card.release.is_phg is sameas false %} fan-made{% endif %}" target="_blank">
						{{ card.name }}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{%- endmacro %}

{% macro deck_filters(phoenixborn, filters, filter_card, filter_root_target='decks.index') -%}
	<form action="./" method="GET" class="auto-submit no-margin">
		{% if filter_card %}
		<ul class="alerts">
			<li class="warning">Showing only decks that include: <a href="{{ url_for('cards.detail', stub=filter_card.stub) }}" class="card{% if card.release.is_retiring %} is-retiring{% endif %}{% if card.release.is_phg is sameas false %} fan-made{% endif %}">{{ filter_card.name }}</a></li>
		</ul>
		{% endif %}
		<div class="responsive-cols">
			<div class="input-group col-flex">
				<div class="form-field">
					<input type="text" placeholder="Filter by title..." id="searchbox" name="s" value="{{ filters.s | default('') }}">
				</div>
				<button class="btn" title="Filter"><i class="fa fa-search"></i></button>
			</div>
			<div class="form-field col-flex">
				<select name="phoenixborn">
					<option value="">Filter by Phoenixborn...</option>
					{% for card in phoenixborn %}
					<option value="{{ card.stub }}"{% if filters.phoenixborn == card.stub %} selected{% endif %}>{{ card.name }}{% if card.is_phg is sameas false %}†{% elif card.is_retiring %}*{% endif %}</option>
					{% endfor %}
				</select>
			</div>
			<div class="btn-group col">
				<a href="{{ url_for(filter_root_target) }}" class="btn" title="Clear filters"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<noscript>
		<div class="col">
			<input type="submit" value="Filter Decks" class="btn btn-primary">
		</div>
		</noscript>
	</form>
{%- endmacro -%}
