{% from "macros.html" import pagination %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}My Decks{% endblock %}

{% block heading %}
	<h1 class="phg-basic-magic">My decks</h1>
{% endblock %}

{% block content %}
	{% if decks %}
	<ul class="deck-list">
	{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('decks.mine', pages, page=page) }}
	{% else %}
	<p class="callout">You have not created any decks yet! Let's get cracking! <i class="fa fa-arrow-right"></i></p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<a href="{{ url_for('decks.build') }}" class="btn btn-block btn-success">
		<i class="fa fa-plus"></i> New Deck
	</a>

	<p>You are viewing your private decks. To publish a deck, visit the Actions tab in the deck builder.</p>
{% endblock %}
