{% from "macros.html" import pagination %}
{% from "decks/macros.html" import deck_details, deck_filters %}
{% extends "base.html" %}
{% block title %}{{ 'My Decks' | paged_title(page) }}{% endblock %}
{% block page_class %}sidebar-first deck-listing{% endblock %}

{% block heading %}
	<h1 class="phg-basic-magic">My decks</h1>
{% endblock %}

{% block content %}
	{{ deck_filters(phoenixborn, filters, filter_card, filter_root_target='decks.mine') }}

	{% if decks %}
	<ul class="deck-list">
	{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user, latest_ashes_500=latest_ashes_500) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('decks.mine', pages, page=page) }}
	{% elif filters %}
	<div class="no-results">
		<h2>No decks found</h2>
		<p><a href="{{ url_for('decks.mine') }}" class="btn btn-primary">Clear filters</a></p>
	</div>
	{% else %}
	<p class="callout">You have not created any decks yet! Let's get cracking! <i class="fa fa-arrow-right"></i></p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<a href="{{ url_for('decks.build') }}" class="btn btn-block btn-success">
		<i class="fa fa-plus"></i> New Deck
	</a>

	<p>You are viewing your private decks. To publish a deck, visit the Actions tab in the deck builder.</p>
{% endblock %}
