{% from "macros.html" import usertag, hide_on_load %}
{% extends "base.html" %}
{% block title %}Deck: {{ deck | deck_title }}{% endblock %}

{% block heading %}
	<h1 class="phg-main-action">{{ deck | deck_title }}</h1>
{% endblock %}

{% block content %}
	{% set current = {'count': 0, 'type': 'None'} -%}
	<div class="deck-view {{ deck.phoenixborn.stub }}">
		<h2>
			<a href="{{ url_for('cards.detail', stub=deck.phoenixborn.stub) }}" class="card" target="_blank">
				{{ deck.phoenixborn.name }}
			</a>
		</h2>
		<ul class="dice large">
		{% for dice in deck.dice -%}
			{# Setting a variable in a loop doesn't respect context, so we need to use this hack #}
			{% if current.update({'count': current.count + dice.count}) %}{% endif -%}
			{% for x in range(dice.count) %}
			<li class="die {{ dice.die_flag | die_name }}">
				<span class="phg-{{ dice.die_flag | die_name }}-power" title="{{ dice.die_flag | die_name | capitalize }}"></span>
			</li>
			{% endfor %}
		{% endfor %}
		{% if current.count is lessthan 10 -%}
		{% for x in range(10 - current.count) %}
			<li class="die basic"><span class="phg-basic-magic"></span></li>
		{% endfor %}
		{% endif %}
		</ul>
		<hr>
		<div class="card-listing">
			<h3>Cards <span class="card-count float-right">{{ deck.cards | sum(attribute='count') }} / 30</span></h3>

			{% for section in sections %}
			<div class="card-type">
				<h4>{{ section.heading }} <span class="card-count">({{ section.count }})</span></h4>
				<ul>
				{% for card in section.cards %}
					<li>
						{{ card.count }}&times; <a href="{{ url_for('cards.detail', stub=card.stub) }}" class="card" target="_blank">
							{{ card.name }}
						</a>{% if card.phoenixborn %} <span class="phoenixborn" title="{{ card.phoenixborn }}">({{ card.phoenixborn | first_name }})</span>{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>
	</div>
	<hr>
	<div class="deck-description">
		{{ deck.description | parse_text }}
	</div>
	<div id="deck-text-export" class="inline-modal">
		<h2>Export As Text</h2>

		<div class="form-field deck-export">
			<textarea onclick="this.focus(); this.select(); this.scrollTop = 0" readonly>{{ deck | deck_title }}

Phoenixborn: {{ deck.phoenixborn.name }}

{% if deck.dice -%}
Dice:
{% for dice in deck.dice -%}
{{ dice.count }}x {{ dice.die_flag | die_name | capitalize }}
{% endfor %}
{% endif -%}

Cards ({{ deck.cards | sum(attribute='count') }}/30)

{% for section in sections -%}
{{ section.heading }} ({{ section.count }}):
{% for card in section.cards -%}
{{ card.count }}x {{ card.name }}{% if card.phoenixborn %} ({{ card.phoenixborn }}){% endif %}
{% endfor %}
{% endfor -%}

Created with https://ashes.live</textarea>
		</div>
	</div>
	{{ hide_on_load('deck-text-export') }}
{% endblock %}

{% block sidebar %}
	<table class="meta" cellspacing="0" cellpadding="0">
		<tr>
			<th>Author:</th>
			<td>{{ usertag(deck.user) }}</td>
		</tr>
		<tr>
			<th>Updated:</th>
			<td>{{ deck.modified | format_date }}</td>
		</tr>
		{% if deck.is_snapshot and current_user.is_authenticated and deck.user_id == current_user.id %}
		<tr>
			<th>Source deck:</th>
			<td>
				<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
					{{ deck.source | deck_title }}
				</a>
			</td>
		</tr>
		<tr>
			<th>Visibility:</th>
			<td>
				{% if deck.is_public %}
				<i class="fa fa-eye"></i> Public
				{% else %}
				<i class="fa fa-eye-slash"></i> Private
				{% endif %}
			</td>
		</tr>
		{% endif %}
	</table>

	{% if current_user.is_authenticated %}
	{% if deck.user_id == current_user.id %}
	{% if deck.is_snapshot %}
	<a class="btn btn-block btn-primary"
		href="{{ url_for('decks.edit', deck_id=deck.id) }}">
		<i class="fa fa-pencil"></i> Edit Snapshot
	</a>
	{% endif %}
	<a class="btn btn-block btn-success"
		href="{{ url_for('decks.build', deck_id=deck.source_id if deck.is_snapshot else deck.id) }}">
		<i class="fa fa-pencil"></i> Edit{% if deck.is_snapshot %} Source{% endif %} Deck
	</a>
	{% endif %}
	<a class="btn btn-block btn-success"
		href="{{ url_for('decks.clone', deck_id=deck.id) }}">
		<i class="fa fa-files-o"></i> Copy &amp; Edit
	</a>
	{% endif %}
	<a href="#deck-text-export" class="btn btn-block inline-modal-trigger">
		<i class="fa fa-share-square-o"></i> Export As Text
	</a>
	{% if deck.has_snapshots %}
	<a class="btn btn-block"
		href="{{ url_for('decks.history', deck_id=deck.source_id if deck.is_snapshot else deck.id) }}">
		<i class="fa fa-history"></i> View History
	</a>
	{% endif %}
{% endblock %}
