{% from "macros.html" import usertag, hide_on_load, subscribe_button %}
{% extends "base.html" %}
{% block title %}Deck: {{ deck | deck_title | paged_title(pagination_options.page) }}{% endblock %}
{% block meta %}
	<meta property="og:image" content="{{ ('/images/cards/' + deck.phoenixborn.stub + '.jpg') | cdn_url }}">
	<meta property="og:description" content="{% for dice in deck.dice -%}
	{{ dice.count }}x {{ dice.die_flag | die_name | capitalize }}{% if not loop.last %} &bull; {% endif %}
	{%- endfor %}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:alt" content="{{ deck.phoenixborn.name }}">
{% endblock %}
{% block page_class %}sidebar-first deck-view-page{% endblock %}

{% block heading %}
	{% if is_base_deck or is_outdated %}
	<ul class="alerts">
		{% if is_base_deck %}
		<li class="warning"><i class="fa fa-eye-slash"></i> You are viewing your most recent private save for this deck. <a href="{{ url_for('decks.view', deck_id=deck.id) }}">View public URL.</a></li>
		{% endif %}
		{% if is_outdated %}
		<li class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This deck is using outdated Ashes 500 point values. Please{% if not current_user.is_authenticated %} log in and{% endif %} {% if current_user.is_authenticated and deck.user_id == current_user.id%}edit{% else %}copy{% endif %} the deck to see current values.</li>
		{% endif %}
	</ul>
	{% endif %}
	<h1 class="phg-main-action">
		{% if deck.ashes_500_revision_id %}<i class="fa fa-tachometer deck-type-icon" title="Ashes 500"></i>{% endif %}
		{{ deck | deck_title }}
	</h1>
{% endblock %}

{% block content %}
	{% set current = {'count': 0, 'type': 'None'} -%}
	<div class="deck-view {{ deck.phoenixborn.stub }}">
		<h2 class="responsive-cols no-wrap">
			<span class="col-flex">
				<a href="{{ url_for('cards.detail', stub=deck.phoenixborn.stub) }}" class="card" target="_blank">
					{{ deck.phoenixborn.name }}
				</a>
			</span>
			{% if deck.ashes_500_revision_id %}
			<span class="ashes-500-score col{% if deck.ashes_500_score > 500 %} error{% elif is_outdated %} warning{% endif %}">
				<i class="fa fa-{% if not is_outdated %}tachometer{% else %}exclamation-triangle{% endif %}" aria-hidden="true"></i>
				{{ deck.ashes_500_score }}
			</span>
			{% endif %}
		</h2>
		<ul class="statline">
			<li class="battlefield">Battlefield {{ phoenixborn_stats.battlefield }}</li>
			<li class="life">Life {{ phoenixborn_stats.life }}</li>
			<li class="spellboard">Spellboard {{ phoenixborn_stats.spellboard }}</li>
		</ul>
		<ul class="dice large">
		{% for dice in deck.dice -%}
			{# Setting a variable in a loop doesn't respect context, so we need to use this hack #}
			{% if current.update({'count': current.count + dice.count}) %}{% endif -%}
			{% for x in range(dice.count) %}
			<li class="die {{ dice.die_flag | die_name }}">
				<span class="phg-{{ dice.die_flag | die_name }}-power" title="{{ dice.die_flag | die_name | capitalize }}"></span>
			</li>
			{% endfor %}
		{% endfor %}
		{% if current.count is lessthan 10 -%}
		{% for x in range(10 - current.count) %}
			<li class="die basic"><span class="phg-basic-magic"></span></li>
		{% endfor %}
		{% endif %}
		</ul>
		<hr>
		<div class="card-listing">
			<h3>Cards <span class="card-count float-right">{{ deck.cards | sum(attribute='count') }} / 30</span></h3>

			{% for section in sections %}
			<div class="card-type">
				<h4>{{ section.heading }} <span class="card-count">({{ section.count }})</span></h4>
				<ul>
				{% for card in section.cards %}
					<li>
						{{ card.count }}&times; <a href="{{ url_for('cards.detail', stub=card.stub) }}" class="card" target="_blank">
							{{ card.name }}
						</a>{% if card.phoenixborn %} <span class="phoenixborn" title="{{ card.phoenixborn }}">({{ card.phoenixborn | first_name }})</span>{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>
	</div>
	{% if deck.description %}
	<hr>
	<div class="deck-description">
		<h2>Description</h2>

		{{ deck.description | parse_text }}
	</div>
	{% endif %}
	
	{% include 'comments.html' %}

	<div id="deck-text-export" class="inline-modal">
		<h2>Export As Text</h2>

		<div class="form-field deck-export">
			<textarea onclick="this.focus(); this.select(); this.scrollTop = 0" readonly>{{ deck | deck_title }}

Phoenixborn: {{ deck.phoenixborn.name }}

{% if deck.dice -%}
Dice:
{% for dice in deck.dice -%}
{{ dice.count }}x {{ dice.die_flag | die_name | capitalize }}
{% endfor %}
{% endif -%}

Cards ({{ deck.cards | sum(attribute='count') }}/30)

{% for section in sections -%}
{{ section.heading }} ({{ section.count }}):
{% for card in section.cards -%}
{{ card.count }}x {{ card.name }}{% if card.phoenixborn %} ({{ card.phoenixborn }}){% endif %}
{% endfor %}
{% endfor -%}

Created with https://ashes.live</textarea>
		</div>
	</div>
	{{ hide_on_load('deck-text-export') }}
{% endblock %}

{% block sidebar %}
	<table class="meta" cellspacing="0" cellpadding="0">
		<tr>
			<th>Author:</th>
			<td>{{ usertag(deck.user) }}</td>
		</tr>
		<tr>
			<th>Updated:</th>
			<td>{{ deck.modified | format_date }}</td>
		</tr>
		<tr>
			<th>Requires:</th>
			<td>
				<ul class="comma-separated">
					{% for release in releases -%}
					<li>
						{%- if release.preconstructed_id -%}
						<a href="{{ url_for('decks.view', deck_id=release.preconstructed_id) }}">{{ release.title }}</a>
						{%- else -%}
							{{ release.title }}
						{%- endif -%}
					</li>
					{%- endfor %}
				</ul>
			</td>
		</tr>
		{% if deck.is_snapshot and current_user.is_authenticated and deck.user_id == current_user.id %}
		<tr class="no-print">
			<th>Source deck:</th>
			<td>
				<a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
					{{ deck.source | deck_title }}
				</a>
			</td>
		</tr>
		<tr class="no-print">
			<th>Visibility:</th>
			<td>
				{% if deck.is_public %}
				<i class="fa fa-eye"></i> Public
				{% else %}
				<i class="fa fa-eye-slash"></i> Private
				{% endif %}
			</td>
		</tr>
		{% endif %}
	</table>

	{% if current_user.is_authenticated %}
	<hr>
	{% if comment_form %}
	{{ subscribe_button(url_for('decks.subscribe', deck_id=deck.id), comment_last_seen) }}
	<hr>
	{% endif %}
	{% if deck.user_id == current_user.id %}
	{% if deck.is_snapshot %}
	<a class="btn btn-block btn-primary"
		href="{{ url_for('decks.edit', deck_id=deck.id) }}">
		<i class="fa fa-pencil"></i> Edit Snapshot
	</a>
	{% endif %}
	<a class="btn btn-block btn-success"
		href="{{ url_for('decks.build', deck_id=deck.source_id if deck.is_snapshot else deck.id) }}">
		<i class="fa fa-pencil"></i> Edit{% if deck.is_snapshot %} Source{% endif %} Deck
	</a>
	{% endif %}
	{% if deck.is_snapshot %}
	<a class="btn btn-block btn-success"
		href="{{ url_for('decks.clone', deck_id=deck.id) }}">
		<i class="fa fa-files-o"></i> Copy &amp; Edit
	</a>
	{% endif %}
	{% endif %}
	<a href="#deck-text-export" class="btn btn-block inline-modal-trigger">
		<i class="fa fa-share-square-o"></i> Export As Text
	</a>
	{% if deck.has_snapshots %}
	<a class="btn btn-block"
		href="{{ url_for('decks.history', deck_id=deck.source_id if deck.is_snapshot else deck.id) }}">
		<i class="fa fa-history"></i> View History
	</a>
	{% endif %}
{% endblock %}
