Flask==1.0.2
Flask-Login==0.4.1
Flask-Bcrypt==0.7.1
Flask-Mail==0.9.1
Flask-Session==0.3.1
Flask-WTF==0.14.2
premailer==3.4.1
PyMySQL==0.9.3
sendgrid==6.0.4
SQLAlchemy-FullText-Search==0.2.5
pytz==2019.1
# This pulls in Flask-Script and Alembic with it
Flask-Migrate==2.4.0
# Included by other modules, but here's explicit versions
Flask-SQLAlchemy==2.4.0
SQLAlchemy==1.3.3
alembic==1.0.10
bcrypt==3.1.6
Flask-Script==2.0.6
Jinja2==2.10.1
Werkzeug==0.15.2
# TEMP: downgrade itsdangerous until Flask-Session fixes its import
itsdangerous>=0.24,<1.0.0
