<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Welcome{% endblock %} - Ashes.live</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons and related settings courtesy of http://realfavicongenerator.net -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#f3f1e7">
	<meta name="apple-mobile-web-app-title" content="Ashes.live">
	<meta name="application-name" content="Ashes.live">
	<meta name="theme-color" content="#f3f1e7">
</head>
<body class="{% block page_class %}static{% endblock %}">
	<header id="header">
		<nav>
			<ul class="primary-nav">
				<li class="home-link">
					<a href="{{ url_for('index.landing_page') }}">Ashes.live</a>
				</li>
				<li class="deckbuilder-link">
					<a href="{{ url_for('decks.player_decks') }}">My Decks</a>
				</li>
				<li class="logging-link">
					{# {{ url_for('stats.log_game') }} #}
					<a href="#">Log Game</a>
				</li>
			</ul>
			<ul class="secondary-nav">
				<li>
					<a class="decks-link" href="{{ url_for('decks.all_decks') }}">All Decks</a>
				</li>
				<li class="mid-link">
					{# {{ url_for('gallery.card_gallery') }} #}
					<a class="gallery-link" href="#">Card Gallery</a>
				</li>
				<li>
					{# {{ url_for('stats.view_stats') }} #}
					<a class="stats-link" href="#">Statistics</a>
				</li>
				<li>
					<a href="{{ url_for('player.player_account') }}">Account</a>
				</li>
			</ul>
		</nav>
	</header>
	<div id="page">
		{% block content %}{% endblock %}
	</div>
	{% block footer %}
	<footer id="footer">
		<p class="copyright">All images, graphics, textual and game contents &copy; 2015-2017 Plaid Hat Games. All rights reserved.</p>
	</footer>
	{% endblock %}
</body>
</html>
