{% extends "base.html" %}
{% block page_class %}homepage{% endblock %}

{% block heading %}
	<h1 class="phg-charm-class">Recent activity</h1>
{% endblock %}

{% block content %}
	<p class="callout">Welcome! This is a limited <strong>beta release</strong>, so not all features are implemented yet. If you would like to build decks or be notified when new features are implemented, please <a href="{{ url_for('player.new') }}">create an account</a>!</p>
	
	<h2>Features</h2>
	
	<ul>
		<li>Build private decks</li>
		<li class="muted">Share decks</li>
		<li class="muted">Card gallery</li>
		<li class="muted">Discuss decks and cards</li>
		<li class="muted">Log games</li>
		<li class="muted">Track gameplay statistics</li>
	</ul>
{% endblock %}

{% block sidebar %}
	<p class="callout"><strong>Ashes.live</strong> offers <strong>deckbuilding</strong>, stat tracking, and <strong>community</strong> discussion for the card game Ashes: Rise of the Phoenixborn by Plaid Hat Games.</p>
{% endblock %}
