{% set example_text = '**First five:**

* [[Root Armor]] ([[side]] - 1 [[natural:class]])
* [[Shifting Mist]]
* *etc.*' %}
<pre class="boxed help-text no-margin"><code>{{ example_text }}</code></pre>
<p class="text-center no-margin"><i class="fa fa-arrow-down"></i></p>
<div class="boxed help-text">{{ example_text | parse_text }}</div>

<hr>

<h4>All card codes</h4>

<table cellpadding="0" cellspacing="0" class="help-text">
	<tbody>
		<tr>
			<td><code>[[Hammer Knight]]</code></td>
			<td>{{ '[[Hammer Knight]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[Skaak#1st!]]</code></td>
			<td>{{ '[[Skaak#1st!]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[Link Text ashes.live]]</code></td>
			<td>{{ '[[Link Text ashes.live]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[main]]</code></td>
			<td>{{ '[[main]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[side]]</code></td>
			<td>{{ '[[side]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[exhaust]]</code></td>
			<td>{{ '[[exhaust]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[discard]]</code></td>
			<td>{{ '[[discard]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[basic]]</code></td>
			<td>{{ '[[basic]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[ceremonial]]</code></td>
			<td>{{ '[[ceremonial]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[ceremonial:class]]</code></td>
			<td>{{ '[[ceremonial:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[charm]]</code></td>
			<td>{{ '[[charm]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[charm:class]]</code></td>
			<td>{{ '[[charm:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[illusion]]</code></td>
			<td>{{ '[[illusion]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[illusion:class]]</code></td>
			<td>{{ '[[illusion:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[natural]]</code></td>
			<td>{{ '[[natural]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[natural:class]]</code></td>
			<td>{{ '[[natural:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[divine]]</code></td>
			<td>{{ '[[divine]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[divine:class]]</code></td>
			<td>{{ '[[divine:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[sympathy]]</code></td>
			<td>{{ '[[sympathy]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
		<tr>
			<td><code>[[sympathy:class]]</code></td>
			<td>{{ '[[sympathy:class]]' | parse_text(format_paragraphs=False) }}</td>
		</tr>
	</tbody>
</table>
