{% from "macros.html" import with_errors, usertag %}
{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block heading %}
	<h1 class="phg-illusion-class">
		Change Password
	</h1>
{% endblock %}

{% block content %}
	<form method="POST" action="./">
		{{ form.hidden_tag() }}
		{{ with_errors(form.email) }}
		{{ with_errors(form.password) }}
		{{ with_errors(form.password_confirm) }}
		<input class="btn btn-primary" type="submit" value="Save password">
	</form>
{% endblock %}

{% block sidebar %}
	<p><a href="{{ url_for('player.settings') }}" class="btn btn-block btn-success">Edit Settings</a></p>
	
	<p>To update your email address, please contact <a href="mailto:hello@ashes.live?subject=Update email request">hello@ashes.live</a>.</p>

	<p>Passwords must be at least 12 characters long.</p>
{% endblock %}
