{% from "macros.html" import parsed_text_field, with_errors, usertag %}
{% extends "base.html" %}
{% block title %}Moderate User{% endblock %}
{% block page_class %}admin-area{% endblock %}

{% block heading %}
	<h1 class="phg-divine-class">
		Moderate {{ usertag(user) }}
	</h1>
{% endblock %}

{% block content %}
	<form method="POST" action="./">
		{{ user_form.hidden_tag() }}
		{{ with_errors(user_form.username) }}
		{{ user_form.description.label }}
		{{ parsed_text_field(user_form.description) }}
		{{ with_errors(user_form.moderation_notes, full_width=true) }}
		<input class="btn btn-primary" type="submit" value="Save Changes">
		{% if user.is_banned %}
		{{ user_form.unban_user }}
		{% else %}
		{{ user_form.ban_user }}
		{% endif %}
	</form>
{% endblock %}
