{% from "macros.html" import parsed_text_field, with_errors, usertag %}
{% extends "base.html" %}
{% block title %}Account Settings{% endblock %}

{% block heading %}
	<h1 class="phg-illusion-class">
		{{ usertag(user, False) }} <small><a href="{{ url_for('player.view', badge=user.badge) | badge_link }}">(view)</a></small>
	</h1>
{% endblock %}

{% block content %}
	<form method="POST" action="./">
		{{ form.hidden_tag() }}
		{{ with_errors(form.username) }}
		{{ parsed_text_field(form.description) }}
		<div class="form-field full-width">
			{{ form.newsletter_opt_in }} {{ form.newsletter_opt_in.label }}
			<p class="help-text">Emails are rare, and only focused on major new features or improvements.</p>
		</div>
		<div class="form-field full-width">
			{{ form.exclude_subscriptions }} {{ form.exclude_subscriptions.label }}
			<p class="help-text">If you use the <i class="fa fa-arrow-circle-o-right" title="Next Unread Subscription"></i> button, excluding subscribed comments will make the homepage much more useful.</p>
		</div>
		<input class="btn btn-primary" type="submit" value="Save settings">
	</form>
{% endblock %}

{% block sidebar %}
	<p><a href="{{ url_for('player.account') }}" class="btn btn-block btn-success">Change Password</a></p>
{% endblock %}
