{% from "macros.html" import usertag, pagination %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}{{ user.username }}#{{ user.badge }}{% endblock %}

{% block heading %}
	<h1 class="phg-illusion-power">
		{{ usertag(user, False) }}
		{% if current_user.is_authenticated and current_user.id == user.id %}
		<small><a href="{{ url_for('player.account') }}">(edit)</a></small>
		{% endif %}
	</h1>
{% endblock %}

{% block content %}
	<h2>Published Decks</h2>
	{% if decks %}
	<ul class="deck-list">
		{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user, history_view=0) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('player.view', pages, page=page, badge=user.badge) }}
	{% else %}
	<p>No published decks yet!</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if user.description %}
	{{ user.description | parse_text }}
	{% endif %}
{% endblock %}
