{% from "macros.html" import usertag, pagination %}
{% from "decks/macros.html" import deck_details %}
{% extends "base.html" %}
{% block title %}{{ user.username + '#' + user.badge | paged_title(page) }}{% endblock %}
{% block page_class %}sidebar-first deck-listing{% endblock %}

{% block heading %}
	<h1 class="phg-illusion-power">
		{{ usertag(user, False) }}
		{% if current_user.is_authenticated and current_user.id == user.id %}
		<small><a href="{{ url_for('player.settings') }}">(edit)</a></small>
		{% endif %}
	</h1>
{% endblock %}

{% block content %}
	{% if user.is_banned %}
	<h2 class="error"><i class="fa fa-ban"></i> This user has been banned.</h2>
	{% else %}
	<h2>Published Decks</h2>
	{% if decks %}
	<ul class="deck-list">
		{% for deck in decks %}
		<li class="deck {{ deck.phoenixborn.stub }}">
			{{ deck_details(deck, card_map, current_user, history_view=0) }}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('player.view', pages, page=page, badge=user.badge) }}
	{% else %}
	<p>No published decks yet!</p>
	{% endif %}
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if current_user.is_authenticated and current_user.is_admin and current_user.id != user.id %}
	<a href="{{ url_for('player.moderate', badge=user.badge) | badge_link }}" class="btn btn-block btn-danger"><i class="fa fa-wrench"></i> Moderate User</a>
	{% endif %}

	{% if user.description and not user.is_banned %}
	<h2>Description</h2>
	
	{{ user.description | parse_text }}
	{% endif %}
{% endblock %}
