.font-size(@size: 16) {
	font-size: 1rem * (@size / 16);
}

.line-height(@size: 16) {
	line-height: 1rem * (@size / 16);
}

.max-width(@width: 1120px) {
	box-sizing: border-box;
	max-width: @width;
	margin-left: auto;
	margin-right: auto;
}

.alert(@color) {
	color: @color;
	background: tint(@color, 80%);
	border: 2px solid @color;
}

.placeholder-color(@color) {
	&::-webkit-input-placeholder {color: @color;}
	&:-moz-placeholder           {color: @color;}
	&::-moz-placeholder          {color: @color;}
	&:-ms-input-placeholder      {color: @color;}
}

.dice-classes() {
	.dice-colors(@text, @background) {
		color: @text;
		background: @background;
		border-color: @text;
	}

	.ceremonial {
		.dice-colors(#ee3342, #111821);
	}

	.charm {
		.dice-colors(#f7e442, #f34f98);
	}

	.illusion {
		.dice-colors(#8bc7ea, #490d67);
	}

	.natural {
		.dice-colors(#cedb00, #004a98);
	}

	.divine {
		.dice-colors(#b58a2b, #f2f2f2);
	}

	.sympathy {
		.dice-colors(#e3c2af, #119981);
	}
}

.mixin-phoenixborn-slice(@stub) {
	.@{stub} {
		background-image: url('../images/cards/@{stub}-slice.jpg');
	}
}
