{% from "macros.html" import with_errors, usertag %}
{% extends "base.html" %}
{% block title %}Project Phoenix: Turtle Dice (compatible with Ashes: Rise of the Phoenixborn Time dice){% endblock %}

{% block heading %}
	<h1 class="phg-time-power-alt">Project Phoenix: Turtle Dice</h1>
{% endblock %}

{% block content %}
	<p class="callout">Turtle dice are a go!</p>

	<p>{{ usertag({'username': 'Skaak', 'badge': '1st!'}) }} here! I have the dice in hand, but it's taking me a while to get any semblance of online purchasing up and running (life happened). If you are interested in getting them a little earlier than others, please <a href="{{ url_for('home.feedback') }}">contact me!</a> I am happy to fulfill dice orders by hand.</p>

	<h2>What are Turtle Dice?</h2>

	<p>Turtle Dice are physical dice compatible with Ashes Time magic, but using custom icons (actual dice will have slightly different color and icon size/placement; you'll see pictures before committing to an actual purchase):</p>

	<ul class="dice extra-large" style="max-width: 492px;">
		<li class="die time"><span class="phg-time-power-alt"></span></li>
		<li class="die time"><span class="phg-time-class"></span></li>
		<li class="die time"><span class="phg-time-class"></span></li>
		<li class="die time"><span class="phg-time-class"></span></li>
		<li class="die time"><span class="phg-basic-magic-alt"></span></li>
		<li class="die time"><span class="phg-basic-magic-alt"></span></li>
	</ul>

	<p>If you have any questions or comments about Turtle Dice (or anything else), don't hesitate to <a href="{{ url_for('home.feedback') }}">contact me</a>!</p>
{% endblock %}

{% block sidebar %}
	<p>Dice will be available for purchase on this page hopefully soon, but if you can't wait please <a href="{{ url_for('home.feedback') }}">contact me</a> with your shipping address and desired number of sets and I will send you a quote including shipping!</p>
{% endblock %}
