{% extends "base.html" %}
{% block title %}Project Phoenix{% endblock %}

{% block heading %}
	<h1 class="phg-time-power">Project Phoenix</h1>
{% endblock %}

{% block content %}
	<p class="callout">Plaid Hat Games ceased development of Ashes in April 2019. <strong>But the Phoenix will not be denied.</strong> Project Phoenix is a collaboration of Ashes fans working together to continue development on this wonderful game.</p>

	<h2 class="phg-time-class">Current projects</h2>

	<p class="callout"><strong>The first two expansions are available for print and play!</strong></p>

	<ul>
		<li><a href="{{ url_for('static', filename='files/pnp/jill-the_treasures_of_the_ages.zip') | cdn_url }}">Jill Traversack: The Treasures of the Ages</a></li>
		<li><a href="{{ url_for('static', filename='files/pnp/tolliver-the_young_ruler.zip') | cdn_url }}">Tolliver I: The Young Ruler</a></li>
		<li><a href="{{ url_for('static', filename='files/pnp/time-dice-reference.png') | cdn_url }}">Time dice reference</a></li>
	</ul>

	<p>Available in the ZIP files above are high quality versions of the cards at 300 DPI (suitable for printing using either 63x88mm or 2.5x3.5" cards), along with print sheets if you would like to print your own. You can alternately <a href="{{ url_for('static', filename='files/pnp/mpc-expansions-1-2.zip') | cdn_url }}">download card images</a> that are specifically sized for usage on <a href="https://www.makeplayingcards.com/" rel="external">MakePlayingCards.com</a> (if printing through MPC, use their 63x88mm poker cards)</p>

	<h3>New content</h3>

	<ul>
		<li><strong>Time expansions:</strong> There are currently two expansions released and two more being designed and play-tested using the new Time dice.</li>
		<li><strong>Time dice:</strong> Plaid Hat teased a seventh and final dice type on their deluxe expansions, but the game was canceled before Time dice were released. We are developing and play-testing a custom implementation of Time dice, along with a <a href="{{ url_for('phoenix.dice') }}">physical variant for purchase</a> (will be available Q4 2019).</li>
		<li><strong>Raven Rules:</strong> The official FAQ includes several counter-intuitive rulings, and sadly failed to define a small number of low-level game mechanics. Raven Rules is a revised, more comprehensive ruleset (which maintains compatibility with the core rulebook).</li>
	</ul>

	<h3>Improving old content</h3>

	<ul>
		<li><strong>Ashes 500:</strong> <a href="{{ url_for('ashes_500.index') }}">Ashes 500</a> values have been posted for all cards released to date!</li>
		<li><strong>Card rebalancing:</strong> Although less far along than the above projects, some fans have expressed interest in creating errata for existing cards with an eye to improving game balance.</li>
	</ul>

	<p>Project Phoenix is still in its infancy, so we do not have a specific timeline we can share; however, we have started spoiling the new cards (check out the <a href="{{ url_for('posts.section', stub='phoenix') }}">Project Phoenix forum</a> for the latest spoilers!).</p>

	<p>We hope to keep Ashes fresh for its dedicated fans for a long time to come.</p>

	<ul class="dice extra-large">
		<li class="col">
			<div class="die ceremonial"><span class="phg-ceremonial-power"></span></div>
			<div class="die ceremonial"><span class="phg-ceremonial-class"></span></div>
		</li>
		<li class="col">
			<div class="die charm"><span class="phg-charm-power"></span></div>
			<div class="die charm"><span class="phg-charm-class"></span></div>
		</li>
		<li class="col">
			<div class="die illusion"><span class="phg-illusion-power"></span></div>
			<div class="die illusion"><span class="phg-illusion-class"></span></div>
		</li>
		<li class="col">
			<div class="die natural"><span class="phg-natural-power"></span></div>
			<div class="die natural"><span class="phg-natural-class"></span></div>
		</li>
		<li class="col">
			<div class="die divine"><span class="phg-divine-power"></span></div>
			<div class="die divine"><span class="phg-divine-class"></span></div>
		</li>
		<li class="col">
			<div class="die sympathy"><span class="phg-sympathy-power"></span></div>
			<div class="die sympathy"><span class="phg-sympathy-class"></span></div>
		</li>
		<li class="col">
			<div class="die time"><span class="phg-time-power"></span></div>
			<div class="die time"><span class="phg-time-class"></span></div>
		</li>
	</ul>
{% endblock %}

{% block sidebar %}
	<h2 class="phg-time-class">Get involved</h2>

	<p>Development for Time dice and cards is currently being handled via the <a href="http://www.strangecopy.com/index.php/ashes-chat/">AshesChat Slack channel</a> and <a href="{{ url_for('posts.section', stub='phoenix') }}">here on Ashes.live</a>. If you're interested in helping design or test cards, please come say hi!</p>

	<p><strong>The first two expansions are out!</strong> Download and PnP <a href="{{ url_for('static', filename='files/pnp/jill-the_treasures_of_the_ages.zip') | cdn_url }}">Jill Traversack</a> and <a href="{{ url_for('static', filename='files/pnp/tolliver-the_young_ruler.zip') | cdn_url }}">Tolliver I</a>.</p>

	<p>You can check out our <a href="{{ url_for('phoenix.dice') }}">physical Turtle Dice project here</a>. Dice will be available for purchase Q4 of 2019.</p>

	<p><a href="{{ url_for('static', filename='files/ashes-raven-rules.pdf') | cdn_url }}">Raven Rules are available here</a> (PDF); please try them out and let us know what worked and what didn't!</p>

	<p>The most recent <a href="{{ url_for('ashes_500.index') }}">Ashes 500</a> values are live, so feel free to build some decks and post if something seems valued poorly!</p>
{% endblock %}
