{% extends "base.html" %}
{% block title %}Project Phoenix{% endblock %}

{% block heading %}
	<h1 class="phg-time-power">Project Phoenix</h1>
{% endblock %}

{% block content %}
	<p class="callout">Plaid Hat Games ceased development of Ashes in April 2019. <strong>But the Phoenix will not be denied.</strong> Project Phoenix is a collaboration of Ashes fans working together to continue development on this wonderful game.</p>

	<h2 class="phg-time-class">Current projects</h2>

	<ul>
		<li><strong>Time dice:</strong> Plaid Hat teased a seventh and final dice type on their deluxe expansions, but the game was canceled before Time dice were released. Developing and play-testing a custom implementation of Time dice is one of the main initial goals for Project Phoenix.</li>
		<li><strong>Time expansions:</strong> There are currently two expansions being designed and play-tested using the new Time dice (a mono-Time deck, and a Time/Charm deck).</li>
		<li><strong>Raven Rules:</strong> The official FAQ includes several counter-intuitive rulings, and sadly failed to define a small number of low-level game mechanics. Project Phoenix is play-testing a revised, more comprehensive ruleset (while maintaining compatibility with the core rulebook).</li>
		<li><strong>Ashes 500:</strong> <a href="{{ url_for('ashes_500.index') }}">Ashes 500</a> values have been posted for all cards released to date!</li>
	</ul>

	<p>Project Phoenix is still in its infancy, so we do not have a specific timeline we can share; however, the above projects were all under active development even before Plaid Hat announced the official cancellation of Ashes. We hope to keep Ashes fresh for its dedicated fans for a long time to come.</p>

	<!--<ul class="dice extra-large">
		<li class="die ceremonial"><span class="phg-ceremonial-power"></span></li>
		<li class="die charm"><span class="phg-charm-power"></span></li>
		<li class="die illusion"><span class="phg-illusion-power"></span></li>
		<li class="die natural"><span class="phg-natural-power"></span></li>
		<li class="die divine"><span class="phg-divine-power"></span></li>
		<li class="die sympathy"><span class="phg-sympathy-power"></span></li>
		<li class="die time"><span class="phg-time-power"></span></li>
	</ul>
	<ul class="dice extra-large">
		<li class="die ceremonial"><span class="phg-ceremonial-class"></span></li>
		<li class="die charm"><span class="phg-charm-class"></span></li>
		<li class="die illusion"><span class="phg-illusion-class"></span></li>
		<li class="die natural"><span class="phg-natural-class"></span></li>
		<li class="die divine"><span class="phg-divine-class"></span></li>
		<li class="die sympathy"><span class="phg-sympathy-class"></span></li>
		<li class="die time"><span class="phg-time-class"></span></li>
	</ul>-->
{% endblock %}

{% block sidebar %}
	<h2 class="phg-time-class">Get involved</h2>

	<p>Development for Time dice and cards is currently being handled via the <a href="http://www.strangecopy.com/index.php/ashes-chat/">AshesChat Slack channel</a> and <a href="{{ url_for('posts.section', stub='phoenix') }}">here on Ashes.live</a>. If you're interested in helping design or test cards, please come say hi!</p>

	<p>The work-in-progress <a href="https://docs.google.com/document/d/1xhr2xQS5LihYG04hf4lHNiej7TpWpRbyA-18ZzIJtiE/edit?usp=sharing" rel="external">Raven Rules are available here</a>; please try them out and leave a comment about what worked and what didn't!</p>

	<p>The most recent <a href="{{ url_for('ashes_500.index') }}">Ashes 500</a> values are live, so feel free to build some decks and post if something seems valued poorly!</p>
{% endblock %}
