{% extends "base.html" %}
{% block title %}Ashes 500{% endblock %}
{% block page_class %}gallery{% endblock %}

{% block heading %}
	<h1 class="phg-charm-class">Ashes 500 <span class="muted">(revised {{ revision.created.strftime('%B %Y') }})</span></h1>
{% endblock %}

{% block content %}
	<noscript>
		<ul class="alerts">
			<li class="error">The Ashes.live card gallery requires Javascript.</li>
		</ul>
	</noscript>
	<p class="muted callout"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading...</p>
{% endblock %}

{% block sidebar %}
	{% if current_user.is_authenticated %}
	<a href="{{ url_for('decks.build', mode='ashes-500') }}" class="btn btn-block btn-success">
		<i class="fa fa-plus"></i> New Ashes 500 Deck
	</a>
	<hr>
	{% endif %}
	{{ revision.description | parse_text }}
{% endblock %}

{% block app %}
	<script type="text/javascript">
		globals.galleryOnly = true
		globals.preserveSidebar = true
	</script>
	<script src="{{ url_for('static', filename='js/app.js') | production_url }}" type="text/javascript"></script>
{% endblock %}
