{% from "macros.html" import pagination, usertag, sectiontag, subscribe_button %}
{% extends "base.html" %}
{% block title %}{{ section.title | paged_title(page) }}{% endblock %}

{% block heading %}
	<h1 class="phg-divine-power">{{ section.title | paged_title(page) }}</h1>
{% endblock %}

{% block content %}
	{% if posts %}
	<ul class="activity">
	{% for post in posts %}
		<li class="post{% if post.entity_id in unread_entity_ids %} unread{% endif %}">
			<h2 class="post-header"><a href="{{ url_for('posts.view', post_id=post.id) }}">{{ post.title }}</a></h2>
			<div class="post-meta responsive-cols no-wrap">
				<p class="col-flex">Posted by {{ usertag(post.user) }} in {{ sectiontag(post.section) }}</p>
				<p class="timestamp col">{{ post.created | format_date }}</p>
			</div>
			<div class="post-body">
				{{ post.text | parse_text }}
			</div>
			<div class="post-footer responsive-cols">
				<ul class="divider-separated col">
					{% if current_user.is_authenticated and (post.user_id == current_user.id or current_user.is_admin) %}
						{% if post.user_id == current_user.id %}
							{% if post.is_moderated %}
							<li><a href="{{ url_for('posts.notes', post_id=post.id) }}" class="moderator-action"><i class="fa fa-lock"></i> Comment locked by moderator</a></li>
							{% else %}
							<li><a href="{{ url_for('posts.edit', post_id=post.id) }}"><i class="fa fa-pencil"></i> Edit</a></li>
							<li><a href="{{ url_for('posts.delete', post_id=post.id) }}"><i class="fa fa-trash"></i> Delete</a></li>
							{% endif %}
						{% endif %}
						{% if current_user.is_admin and post.user_id != current_user.id %}
						<li><a href="{{ url_for('posts.moderate', post_id=post.id) }}" class="moderator-action"><i class="fa fa-wrench"></i> Moderate</a></li>
						{% endif %}
					{% endif %}
				</ul>
				{% if post.created != post.modified %}
				<p class="col-flex timestamp text-right">Last edited {{ post.modified | format_date }}</p>
				{% endif %}
			</div>
		</li>
	{% endfor %}
	</ul>
	{{ pagination('posts.section', pages, stub=section.stub, page=page) }}
	{% else %}
	<div class="no-results">
		<h2>No {{ section.title }} posts yet!</h2>
		<p>Well, that's no good! Why not <a href="{{ url_for('posts.submit', section_stub=section.stub) }}">post one yourself</a>?</p>
	</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if current_user.is_authenticated %}
	<a href="{{ url_for('posts.submit', section_stub=section.stub) }}" class="btn btn-block btn-success">
		<i class="fa fa-sticky-note"></i> Submit New Post
	</a>
	{% if not section.is_restricted or current_user.is_admin %}
	<hr>
	{{ subscribe_button(url_for('posts.subscribe_section', stub=section.stub), is_subscribed) }}
	{% endif %}
	{% endif %}
{% endblock %}
