<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Welcome{% endblock %} - Ashes.live</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons and related settings courtesy of http://realfavicongenerator.net -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#f3f1e7">
	<meta name="apple-mobile-web-app-title" content="Ashes.live">
	<meta name="application-name" content="Ashes.live">
	<meta name="theme-color" content="#f3f1e7">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body class="{% block page_class %}static{% endblock %}">
	<header id="header">
		<nav>
			<div class="navbar-wrapper">
				<ul class="primary-nav">
					<li class="home-link">
						<a href="{{ url_for('home.index') }}">Ashes.live</a>
					</li>
					<li class="deckbuilder-link">
						<a class="phg-basic-magic" href="{{ url_for('decks.mine') }}">My Decks</a>
					</li>
					<li class="logging-link">
						{# {{ url_for('stats.log_game') }} #}
						<a class="phg-exhaust disabled" href="#">Log Game</a>
					</li>
				</ul>
			</div>
			<ul class="secondary-nav">
				<li>
					<a class="decks-link disabled" href="{{ url_for('decks.index') }}">
						<i class="fa fa-eye" aria-hidden="true"></i> All Decks
					</a>
				</li>
				<li class="mid-link">
					{# {{ url_for('gallery.index') }} #}
					<a class="gallery-link disabled" href="#">
						<i class="fa fa-th" aria-hidden="true"></i> Card Gallery
					</a>
				</li>
				<li>
					{# {{ url_for('stats.view') }} #}
					<a class="stats-link disabled" href="#">
						<i class="fa fa-bar-chart" aria-hidden="true"></i> Statistics
					</a>
				</li>
				<li>
					<a href="{{ url_for('player.account') }}">
						<i class="fa fa-user" aria-hidden="true"></i> Account
					</a>
				</li>
				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('player.logout') }}">
						<i class="fa fa-sign-out" aria-hidden="true"></i> Log out
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<div id="page">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="alerts">
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message | safe }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		{% block heading %}{% endblock %}
		<div id="main">
			<div id="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<footer id="footer">
		<p class="copyright">All images, graphics, textual and game contents &copy; {{ 2015 | copyright }} Plaid Hat Games. All rights reserved.</p>
	</footer>
	<script type="text/javascript">
		var globals = window.globals || {}
		{% if cards_json %}globals.cardData = {{ cards_json | safe }}{% endif %}
		globals.cardUrl = function (data) {
			return '/cards/' + data.stub
		}
		globals.diceData = [
			'ceremonial', 'charm', 'illusion', 'natural',
			'divine', 'sympathy'
		]
		globals.parseCardCodes = function (input) {
			return input.replace(/\[\[([a-z -]+)(?::([a-z]+))?\]\]|( - )/ig, function (_, primary, secondary, dash) {
				if (dash) {
					return ' <span class="divider"></span> '
				}
				var lowerPrimary = primary.toLowerCase()
				secondary = secondary && secondary.toLowerCase()
				if (['discard', 'exhaust'].indexOf(lowerPrimary) > -1) {
					return ['<span class="phg-', lowerPrimary, '" title="', primary, '"></span>'].join('')
				}
				
				if (globals.diceData.indexOf(lowerPrimary) > -1) {
					if (!secondary) {
						secondary = 'power'
					}
				} else if (lowerPrimary == 'basic') {
					secondary = 'magic'
				} else if (lowerPrimary == 'main') {
					secondary = 'action'
				} else if (lowerPrimary == 'side') {
					secondary = 'action'
				} else if (secondary) {
					return ['<i>', lowerPrimary, (secondary ? ' ' + secondary : ''), '</i>'].join('')
				} else {
					var data = {stub: lowerPrimary.replace(' ', '-')}
					return ['<a href="', globals.cardUrl(data), '" class="card">', primary, '</a>'].join('')
				}
				return [
					'<span class="phg-', lowerPrimary, '-', secondary, '" title="',
					primary, (secondary ? ' ' + secondary : ''), '"></span>'
				].join('')
			})
		}
	</script>
	{% block app %}{% endblock %}
</body>
</html>
