{% from "macros.html" import hide_one_load, inline_errors, pagination, usertag %}

<div id="comments">
	<hr>
	<h2 class="phg-sympathy-class">Comments</h2>

	{% if comments %}
	<ul class="comments">
		{% for comment in comments %}
		<li id="comment-{{ comment.id }}" class="comment">
			<div class="comment-header responsive-cols no-wrap">
				<p class="col-flex">{{  usertag(comment.user) }} says:</p>
				<p class="timestamp col"><a href="{{ comment.url }}"><i class="fa fa-link"></i> {{ comment.created | format_date }}</a></p>
			</div>
			{% if comment.source_version < comment_version %}
			<p class="comment-outdated">
				<i class="fa fa-history"></i> This comment was posted on a 
				{% if comment.source_type == 'deck' %}
				<a href="{{ url_for('decks.view', deck_id=comment.source_version) }}">previous snapshot</a>
				{% else %}
				previous version
				{% endif %} of this {{ comment.source_type }}.
			</p>
			{% endif %}
			<div class="comment-body">
				{{ comment.text | parse_text }}
			</div>
			{% if comment.created != comment.modified %}
			<div class="comment-footer">
				<p class="timestamp text-right">Last edited {{ comment.modified | format_date }}</p>
			</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{{ pagination(_anchor='comments', **pagination_options) }}
	{% else %}
	<div class="no-results">
		<h2>No comments yet</h2>
		{% if not current_user.is_authenticated or comment_form %}
		<p>
			{% if not current_user.is_authenticated %}
			<a href="{{ url_for('player.login', next=request.base_url + '#comment') }}">Sign in</a> to post one 
			{% else %}
			Post one below 
			{% endif %}
			and get this party started!
		</p>
		{% endif %}
	</div>
	{% endif %}
	{% if current_user.is_authenticated and comment_form %}
	<form action="./" id="comment" method="POST">
		{{ comment_form.hidden_tag() }}
		{% if comment_form.preview.data %}
		<h3 id="comment-preview">Preview</h3>
		<div class="boxed">
			{{ comment_form.text.data | parse_text }}
		</div>
		{% endif %}
		<div class="form-field">
			{# TODO: hook up form-helpers so that they actually do something #}
			<div class="textarea-helpers responsive-cols">
				<div class="btn-group col">
					<button class="btn btn-small" type="button" title="Bold"
						data-cursor-prefix="**" data-cursor-suffix="**"
					><i class="fa fa-bold"></i></button
					><button class="btn btn-small" type="button" title="Italic"
						data-cursor-prefix="*" data-cursor-suffix="*"
					><i class="fa fa-italic"></i></button>
				</div>
				<div class="btn-group col">
					<button class="btn btn-small" type="button" title="List"
						data-line-prefix="* "><i class="fa fa-list-ul"></i></button
					><button class="btn btn-small" type="button" title="Quote"
						data-line-prefix="> "><i class="fa fa-quote-left"></i></button>
				</div>
				<div class="col">
					<button class="btn btn-small" type="button" title="Wrap with [[ ]]"
						data-cursor-prefix="[[" data-cursor-suffix="]]"
					><strong>[[&hellip;]]</strong></button>
				</div>
				<div class="col">
					<p class="help-text warning btn-small-align"><i class="fa fa-exclamation-triangle"></i> Buttons prevent "undo"</p>
				</div>
				<div class="col-flex text-right">
					<a href="#formatting-help" class="btn btn-small inline-modal-trigger" title="Formatting Help">
						<i class="fa fa-question"></i>
					</a>
				</div>
			</div>
			{{ comment_form.text(rows='10') }}
			{{ inline_errors(comment_form.text.errors) }}
			<p class="help-text">Please remember the <a href="{{ url_for('home.policies') }}" target="_blank">Ashes.live Content Policies</a>.</p>
		</div>
		<input class="btn btn-primary" type="submit" value="Publish">
		{{ comment_form.preview() }}
	</form>
	<div id="formatting-help" class="inline-modal">
		<h2>Formatting Help</h2>

		<div class="modal-scroll">
			{% include "fragments/formatting_help.html" %}
		</div>
	</div>
	{{ hide_on_load('formatting-help') }}
	{% endif %}
</div>
