{% from "macros.html" import hide_one_load, inline_errors, pagination, parsed_text_field, usertag %}

<div id="comments">
	<hr>
	<h2 class="phg-sympathy-class">Comments</h2>

	{% if comments %}
	<ul class="comments">
		{% for comment in comments %}
			{% if comment.is_deleted %}
			<li id="comment-{{ comment.id }}" class="comment deleted responsive-cols">
				<div class="col">
					<i class="fa fa-trash"></i> 
					{% if comment.is_moderated %}
						{% if current_user.is_authenticated and comment.user_id == current_user.id %}
						<a href="{{ url_for('comments.notes', comment_id=comment.id) }}" class="moderator-action">Comment deleted by moderator</a>
						{% else %}
						Comment deleted by moderator
						{% endif %}
					{% else %}
					Comment deleted by user
					{% endif %}
				</div>
				<div class="col-flex text-right timestamp">
					<a href="{{ comment.url }}">{{ comment.modified | format_date }}</a>
				</div>
			</li>
			{% else %}
			<li id="comment-{{ comment.id }}" class="comment{% if comment_last_seen and comment.entity_id > comment_last_seen %} unread{% endif %}">
				<div class="comment-header responsive-cols no-wrap">
					<p class="col-flex">{{  usertag(comment.user) }} says:</p>
					<p class="timestamp col"><a href="{{ comment.url }}"><i class="fa fa-link"></i> {{ comment.created | format_date }}</a></p>
				</div>
				{% if comment.source_version < comment_version %}
				<p class="comment-outdated">
					<i class="fa fa-history"></i> This comment was posted on a 
					{% if comment.source_type == 'deck' %}
					<a href="{{ url_for('decks.view', deck_id=comment.source_version) }}">previous snapshot</a>
					{% else %}
					previous version
					{% endif %} of this {{ comment.source_type }}.
				</p>
				{% endif %}
				<div class="comment-body">
					{{ comment.text | parse_text }}
				</div>
				{% if comment.created != comment.modified or (current_user.is_authenticated and (comment.user_id == current_user.id or current_user.is_admin)) %}
				<div class="comment-footer">
					<div class="responsive-cols">
						{% if current_user.is_authenticated and (comment.user_id == current_user.id or current_user.is_admin) %}
						<ul class="col divider-separated">
							{% if comment.user_id == current_user.id %}
								{% if comment.is_moderated %}
								<li><a href="{{ url_for('comments.notes', comment_id=comment.id) }}" class="moderator-action"><i class="fa fa-lock"></i> Comment locked by moderator</a></li>
								{% else %}
								<li><a href="{{ url_for('comments.edit', comment_id=comment.id) }}"><i class="fa fa-pencil"></i> Edit</a></li>
								<li><a href="{{ url_for('comments.delete', comment_id=comment.id) }}"><i class="fa fa-trash"></i> Delete</a></li>
								{% endif %}
							{% endif %}
							{% if current_user.is_admin and comment.user_id != current_user.id %}
							<li><a href="{{ url_for('comments.moderate', comment_id=comment.id) }}" class="moderator-action"><i class="fa fa-wrench"></i> Moderate</a></li>
							{% endif %}
						</ul>
						{% endif %}
						{% if comment.created != comment.modified %}
						<p class="col-flex timestamp text-right">Last edited {{ comment.modified | format_date }}</p>
						{% endif %}
					</div>
				</div>
				{% endif %}
			</li>
			{% endif %}
		{% endfor %}
	</ul>
	{{ pagination(_anchor='comments', **pagination_options) }}
	{% else %}
	<div class="no-results">
		<h2>No comments yet</h2>
		{% if not current_user.is_authenticated or comment_form %}
		<p>
			{% if not current_user.is_authenticated %}
			<a href="{{ url_for('player.login', next=request.base_url + '#comment') }}">Log in</a> to post one 
			{% else %}
			Post one below 
			{% endif %}
			and get this party started!
		</p>
		{% endif %}
	</div>
	{% endif %}
	{% if current_user.is_authenticated and comment_form %}
	<h3>Post a comment</h3>
	<form action="./#comment" id="comment" method="POST">
		{{ comment_form.hidden_tag() }}
		{% if comment_form.preview.data %}
		<h3 id="comment-preview">Preview</h3>
		<div class="boxed">
			{% if not comment_form.text.data %}
			<p class="muted">Comment preview will be shown here&hellip;</p>
			{% else %}
			{{ comment_form.text.data | parse_text }}
			{% endif %}
		</div>
		{% endif %}
		{{ parsed_text_field(comment_form.text) }}
		<input class="btn btn-primary" type="submit" value="Publish">
		{{ comment_form.preview() }}
	</form>
	{% endif %}
</div>
