{% from "macros.html" import usertag %}
{% extends "base.html" %}
{% block page_class %}homepage sidebar-first{% endblock %}

{% block heading %}
	<h1 class="phg-divine-power">Welcome to Ashes.live!</h1>
{% endblock %}

{% block content %}
	<p class="callout">Ashes.live is a fan-made site for Plaid Hat Games' <a href="https://www.plaidhatgames.com/games/ashes">Ashes: Rise of the Phoenixborn</a>, offering <a href="{{ url_for('cards.index') }}">card browsing</a> and <a href="{{ url_for('decks.build') }}">deckbuilding</a> in a beautiful interface that highlights the gorgeous card art.</p>

	<p>The site is under continuous development, so please <a href="{{ url_for('home.feedback') }}"><i class="fa fa-envelope"></i> contact me</a> if you run into problems or have any suggestions or requests! You can find the link to the contact form at the upper right of every page.</p>

	<p>If you would like to {% if not current_user.is_authenticated %}build and share decks or {% endif %}be notified when new features are implemented, please {% if current_user.is_authenticated %}<a href=
		{{ url_for('player.account') }}>modify your account settings</a>{% else %}<a href="{{ url_for('player.new') }}">create an account</a>{% endif %}!</p>
	
	<h2>Features</h2>
	
	{% include "fragments/upcoming_list.html" %}
{% endblock %}

{% block sidebar %}
	{% if recent_decks %}
	<h2>Recent Activity</h2>

	<ul class="activity">
		{% for deck in recent_decks %}
		<li>
			<span class="timestamp">{{ deck.created | format_date }}</span>
			{{ usertag(deck.user) }} published <a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
				{{ deck.title }}
			</a> <span class="phoenixborn" title="{{ deck.phoenixborn.name }}">
				({{ deck.phoenixborn.name | first_name }})
			</span>
		</li>
		{% endfor %}
	</ul>

	<p class="text-right"><a href="{{ url_for('decks.index') }}">
		<i class="fa fa-eye"></i> View all published decks
	</a></p>
	{% endif %}
{% endblock %}
