{% from "macros.html" import usertag, pagination %}
{% from "decks/macros.html" import dice_list %}
{% extends "base.html" %}
{% block title %}{{ 'Recent Activity' | paged_title(page) }}{% endblock %}
{% block page_class %}homepage sidebar-first{% endblock %}

{% block heading %}
	<h1 class="phg-divine-power">{{ 'Recent Activity' | paged_title(page) }}</h1>
{% endblock %}

{% block content %}
	{% if stream %}
	<ul class="activity">
	{% for entity in stream %}
		<li class="{{ entity.entity_type }}{% if entity.entity_type == 'deck' %} {{ entity.phoenixborn.stub }}{% endif %}">
			{% if entity.entity_type == 'deck' %}
			<div class="responsive-cols no-wrap">
				<p class="col-flex"><strong>{{ usertag(entity.user) }} published a deck!</strong></p>
				<p class="timestamp col">{{ entity.created | format_date }}</p>
			</div>
			<h2>
				<a href="{{ url_for('decks.view', deck_id=entity.source_id) }}">{{ entity | deck_title }}</a>
			</h2>
			{{ dice_list(entity.dice) }}
			{% elif entity.entity_type == 'comment' %}
			<div class="comment-header responsive-cols no-wrap">
				<p class="col-flex"><strong>{{ usertag(entity.user) }} commented on the {{ entity.source_type }} <a href="{{ entity.url }}">{{ entity.source_title }}</a>:</strong></p>
				<p class="timestamp col">{{ entity.created | format_date }}</p>
			</div>
			<div class="responsive-cols no-wrap">
				<div class="comment-fadeout col-flex">
					{{ entity.text | parse_text }}
				</div>
				<div class="col comment-button">
					<a href="{{ entity.url }}" class="btn btn-vertical" title="View comment"><i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	{{ pagination('home.index', pages, page=page) }}
	{% else %}
	<div class="no-results">
		<h2>No recent activity</h2>
		<p>Publish a deck or leave a comment, and let's get this ball rolling!</p>
	</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<h2>Welcome to Ashes.live!</h2>

	<p class="callout">Ashes.live is a fan site for <a href="https://www.plaidhatgames.com/games/ashes">Ashes: Rise of the Phoenixborn</a> by Plaid Hat Games, offering a <a href="{{ url_for('cards.index') }}"><strong>card browser</strong></a>, <a href="{{ url_for('decks.build') }}"><strong>deck builder</strong></a>, and <strong>social features</strong> in an interface that highlights the gorgeous card art.</p>

	<p>The site is under continuous development, so please <a href="{{ url_for('home.feedback') }}"><i class="fa fa-envelope"></i> contact me</a> if you run into problems or have any suggestions or requests!</p>

	{% if not current_user.is_authenticated %}
	<p><a href="{{ url_for('player.new') }}">Create an account</a> to build and share your own decks or join the discussion about everything Ashes!</p>
	{% endif %}

	<h2>Features</h2>

	{% include "fragments/upcoming_list.html" %}
{% endblock %}
