{% from "macros.html" import usertag %}
{% extends "base.html" %}
{% block page_class %}homepage{% endblock %}

{% block heading %}
	<h1 class="phg-charm-class">Ashes.live, beta v2</h1>
{% endblock %}

{% block content %}
	<p class="callout">Welcome! This is a limited <strong>beta release</strong>, so not all features are implemented yet. If you would like to {% if not current_user.is_authenticated %}build and share decks or {% endif %}be notified when new features are implemented, please {% if current_user.is_authenticated %}<a href=
		{{ url_for('player.account') }}>modify your account settings</a>{% else %}<a href="{{ url_for('player.new') }}">create an account</a>{% endif %}!</p>

	<p>Please <a href="{{ url_for('home.feedback') }}"><i class="fa fa-envelope"></i> contact me</a> if you run into problems or have any suggestions or requests! You can find the link to the contact form at the upper right of every page.</p>
	
	<h2>Features</h2>
	
	{% include "fragments/upcoming_list.html" %}

	<h2>Known issues</h2>

	<ul>
		<li>Some action and cost icons are solid instead of transparent on Windows</li>
		<li>Behavior on mobile devices is...not great yet</li>
	</ul>
{% endblock %}

{% block sidebar %}
	<p class="callout"><strong>Ashes.live</strong> offers <strong>deckbuilding</strong> for the card game Ashes: Rise of the Phoenixborn by <a href="https://www.plaidhatgames.com/games/ashes">Plaid Hat Games</a>.</p>

	{% if recent_decks %}
	<hr>
	
	<h2>Recent Activity</h2>

	<ul class="activity">
		{% for deck in recent_decks %}
		<li>
			<span class="timestamp">{{ deck.created | format_date }}</span>
			{{ usertag(deck.user) }} published <a href="{{ url_for('decks.view', deck_id=deck.source_id) }}">
				{{ deck.title }}
			</a> <span class="phoenixborn" title="{{ deck.phoenixborn.name }}">
				({{ deck.phoenixborn.name | first_name }})
			</span>
		</li>
		{% endfor %}
	</ul>

	<p class="text-right"><a href="{{ url_for('decks.index') }}">
		<i class="fa fa-eye"></i> View all published decks
	</a></p>
	{% endif %}
{% endblock %}
