{% macro usertag(user, link=True) -%}
	{% if link -%}
		<a class="username" href="{{ url_for('player.view', badge=user.badge) | badge_link }}">{{ user.username }}<span class="badge">{{ user.badge }}</span></a>
	{% else -%}
		<span class="username">{{ user.username }}<span class="badge">{{ user.badge }}</span></span>
	{%- endif %}
{%- endmacro %}

{% macro inline_errors(errors) -%}
	{% if errors %}
		<ul class="alerts">
		{% for error in errors %}
			<li class="error">{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{%- endmacro %}

{% macro with_errors(field) -%}
	<div class="form-field">
		{{ field.label }}
		{{ field(**kwargs) }}
		{{ inline_errors(field.errors) }}
	</div>
{%- endmacro %}

{% macro parsed_text_field(field) -%}
	<div class="form-field full-width">
		<div class="textarea-helpers responsive-cols">
			<div class="btn-group col">
				<button class="btn btn-small" type="button" title="Bold"
					data-cursor-prefix="**" data-cursor-suffix="**"
				><i class="fa fa-bold"></i></button
				><button class="btn btn-small" type="button" title="Italic"
					data-cursor-prefix="*" data-cursor-suffix="*"
				><i class="fa fa-italic"></i></button>
			</div>
			<div class="btn-group col">
				<button class="btn btn-small" type="button" title="List"
					data-line-prefix="* "><i class="fa fa-list-ul"></i></button
				><button class="btn btn-small" type="button" title="Quote"
					data-line-prefix="> "><i class="fa fa-quote-left"></i></button>
			</div>
			<div class="btn-group col">
				<button class="btn btn-small" type="button" title="Wrap with [[ ]]"
					data-cursor-prefix="[[" data-cursor-suffix="]]"
				><strong>[[&hellip;]]</strong></button>
			</div>
			<div class="col">
				<p class="help-text warning btn-small-align"><i class="fa fa-exclamation-triangle"></i> Buttons prevent "undo"</p>
			</div>
			<div class="btn-group col-flex text-right">
				<a href="#formatting-help" class="btn btn-small inline-modal-trigger" title="Formatting Help">
					<i class="fa fa-question"></i>
				</a>
			</div>
		</div>
		{{ field(**kwargs) }}
		{{ inline_errors(field.errors) }}
		<p class="help-text">Please remember the <a href="{{ url_for('home.policies') }}" target="_blank">Ashes.live Content Policies</a>.</p>
	</div>
{%- endmacro %}

{% macro pagination(view_path=None, pages=None, page=1) -%}
	{% if pages %}
	{% set current = {'page': 0} -%}
	<nav class="pagination">
		<ul>
			{% for page_num in pages %}
			{% if (current.page + 1) is not equalto page_num %}
			<li><a href="{{ url_for(view_path, page=page_num - 1 if current.page == 1 else current.page + 1, **kwargs) }}">...</a></li>
			{% endif %}
			{% if page_num is equalto page %}
			<li class="active">{{ page_num }}</li>
			{% else %}
			<li><a href="{{ url_for(view_path, page=page_num if page_num > 1 else None, **kwargs) }}">
				{{ page_num }}
			</a></li>
			{% endif %}
			{% if current.update({'page': page_num}) %}{% endif -%}
			{% endfor %}
		</ul>
	</nav>
	{% endif %}
{%- endmacro %}

{% macro hide_on_load(id) -%}
	<script type="text/javascript">
		document.getElementById('{{ id }}').style.display = 'none'
	</script>
{%- endmacro %}

{% macro show_on_load(id) -%}
	<script type="text/javascript">
		document.getElementById('{{ id }}').className.replace(/\s*\bhidden\b/i, '')
	</script>
{%- endmacro %}
