{% macro usertag(user, link=True) -%}
	{% if link -%}
		<a class="username" href="{{ url_for('player.view', badge=user.badge) | badge_link }}">{{ user.username }}<span class="badge">{{ user.badge }}</span></a>
	{% else -%}
		<span class="username">{{ user.username }}<span class="badge">{{ user.badge }}</span></span>
	{%- endif %}
{%- endmacro %}

{% macro inline_errors(errors) -%}
	{% if errors %}
		<ul class="alerts">
		{% for error in errors %}
			<li class="error">{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{%- endmacro %}

{% macro with_errors(field) -%}
	<div class="form-field">
		{{ field.label }}
		{{ field(**kwargs) }}
		{{ inline_errors(field.errors) }}
	</div>
{%- endmacro %}

{% macro pagination(viewPath, pages, page=1) -%}
	{% if pages %}
	{% set current = {'page': 0} -%}
	<nav class="pagination">
		<ul>
			{% for page_num in pages %}
			{% if (current.page + 1) is not equalto page_num %}
			<li><a href="{{ url_for(viewPath, page=page_num - 1 if current.page == 1 else current.page + 1, **kwargs) }}">...</a></li>
			{% endif %}
			{% if page_num is equalto page %}
			<li class="active">{{ page_num }}</li>
			{% else %}
			<li><a href="{{ url_for(viewPath, page=page_num if page_num > 1 else None, **kwargs) }}">
				{{ page_num }}
			</a></li>
			{% endif %}
			{% if current.update({'page': page_num}) %}{% endif -%}
			{% endfor %}
		</ul>
	</nav>
	{% endif %}
{%- endmacro %}

{% macro hide_on_load(id) -%}
	<script type="text/javascript">
		document.getElementById('{{ id }}').style.display = 'none'
	</script>
{%- endmacro %}

{% macro show_on_load(id) -%}
	<script type="text/javascript">
		document.getElementById('{{ id }}').className.replace(/\s*\bhidden\b/i, '')
	</script>
{%- endmacro %}
